
*.dll
*.exe
*.dll
*.pdb
*.exe
LoFit_Server\bin\*
LoFit_Server\obj\*
LoFit_Server/bin/*
LoFit_Server/obj/*
LoFit_Server/obj/Debug/*
LoFit_Server/obj/Debug/net8.0/*
LoFit_Client/obj/*
LoFit_Client/obj/Debug/*
LoFit_Client/bin/*
LoFit_Models/bin/*
LoFit_Models/obj/*
LoFit_Models/obj/Debug/*
LoFit_Models/obj/Debug/net8.0/*
.vscode
LoFit_Server\obj\Debug\net8.0\ref\*
LoFit_Models\obj\Debug\net8.0\ref\*