@page "/"

<PageTitle>LoFit</PageTitle>

<div class="row">
    <div class="col text-center">
        <h1 class="text-dark">How's your day Kacper?</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col text-center">
        <button type="button" class="btn btn-primary btn-lg border border-3 border-dark text-dark rounded-circle text-wrap">Large button</button>
    </div>
</div>
