@page "/Register"

<div class="row mx-3">
    <div class="col">
        <div class="card mb-4 rounded-5 border border-3 border-dark">
            <p class="card-header text-dark fw-bolder">Join us now!</p>
            <div class="card-body">
                <div class="row">
                    <div class="form-group">
                        <label for="exampleUsername1" class="form-label mt-4 text-dark fw-bolder">Create username:</label>
                        <input type="email" class="form-control border border-3 border-dark rounded rounded-5" id="exampleUsername1" aria-describedby="emailHelp" placeholder="Username">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4 text-dark fw-bolder">Setup password:</label>
                        <input type="password" class="form-control border border-3 border-dark rounded rounded-5" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4 text-dark fw-bolder">Confirm password:</label>
                        <input type="password" class="form-control border border-3 border-dark rounded rounded-5" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-2">
                        <button type="button" class="btn btn-secondary btn-outline-dark">Register</button>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a href="/Login">
                    <p>Already registered? Login Here!</p>
                </a>
            </div>
        </div>
    </div>
</div>