@page "/AddTraining"
@using LoFit_Models.Dtos

<div class="row mb-4">
    <div class="col text-center mx-3">
        <button type="button" class="btn btn-warning w-75 text-dark fs-5 fw-bolder border border-3 border-warning" @onclick = "SaveNewTraining">Add this set to your training list!</button>
    </div>
</div>

<div class="row mb-4 mx-3">
    <div class="col-sm-6 text-center my-2 p-1 border border-3 border-dark rounded-5">
        <div class="row my-2">
            <div class="col">
                <h3 class="text-dark fw-bolder">Search exercise:</h3>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <input type="text" class="form-control border border-3 border-dark rounded rounded-5" placeholder="Search exercise name" id="inputDefault">
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <button type="button" class="btn btn-success w-75 text-dark fs-5 fw-bolder border border-3 border-dark">Leg Day</button>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <button type="button" class="btn btn-success w-75 text-dark fs-5 fw-bolder border border-3 border-dark">Leg Day</button>
            </div>
        </div>
    </div>

    <div class="col-sm-6 text-center my-2 p-1 border border-3 border-dark rounded-5">
        <div class="row my-2">
            <div class="col">
                <h3 class="text-dark fw-bolder">Your training set:</h3>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <button type="button" class="btn btn-danger w-75 text-dark fs-5 fw-bolder border border-3 border-dark">Leg Day</button>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <button type="button" class="btn btn-danger w-75 text-dark fs-5 fw-bolder border border-3 border-dark">Afternoon Yoga</button>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <button type="button" class="btn btn-danger w-75 text-dark fs-5 fw-bolder border border-3 border-dark">Cardio Set</button>
            </div>
        </div>
    </div>
</div>

@code{

    public ListTrainingsDto NewTrainingSet {get; set;} 
    protected override void OnInitialized()
    {
        this.NewTrainingSet = new ListTrainingsDto();
    }

    [Parameter]
    public EventCallback<ListTrainingsDto> SaveNewTrainingCallback { get; set; }
    
    private async Task SaveNewTraining()
    {
        await SaveNewTrainingCallback.InvokeAsync(NewTrainingSet);
    }
}