<div class="row mb-5">
    <div class="col text-center">
        <h1 class="text-dark">Ready to start workout?</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col text-center">
        <button type="button" class="btn btn-light btn-lg border border-3 border-dark text-dark fs-1 fw-bolder" @onclick="StartTraining">
            Start Training
        </button>
    </div>
    <div class="col-md-4"></div>
</div>


@code{
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
    
    private async Task StartTraining()
    {
        await OnClickCallback.InvokeAsync();
    }
        
}