<div class="row mb-5">
    <div class="col text-center">
        <div class="alert alert-dismissible alert-warning shadow-lg">
            <strong>Hello</strong> <a>Accept cookies or leave!</a>.
            <button type="button" class="btn-outline-dark text-light border border-3 border-dark rounded-3" data-bs-dismiss="alert">Accept</button>
        </div>
    </div>
</div> 

<div class="row mb-5">
    <div class="col text-center">
        <h1 class="text-dark">Ready to start workout?</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col text-center">
        <button type="button" class="btn btn-light btn-lg border border-3 border-dark text-dark fs-1 fw-bolder" @onclick="StartTraining">
            Start Training
        </button>
    </div>
    <div class="col-md-4"></div>
</div>


@code{
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
    
    private async Task StartTraining()
    {
        await OnClickCallback.InvokeAsync();
    }
        
}