@page "/ListTrainings"
@using LoFit_Models.Dtos
@using LoFit_Models.MockupData


<div class="row mb-4 justify-content-center">
    <div class="col-sm-7">
        <h1 class="text-dark text-center">Choose your training!</h1>
    </div>
</div>

<div class="row mb-4 mx-3 justify-content-center">
    <div class="col-sm-7 ">
        <button type="button" class="btn btn-warning w-100 text-dark fs-1 fw-bolder border border-3 border-warning" @onclick="AddNewTraining">Add new training!</button>
    </div>   
</div>


@foreach(TrainingSetDto userTraining in UserTrainingsList)
{
    <div class="row mb-4 mx-3 justify-content-center">
        <div class="col-sm-7 ">
            <button type="button" class="btn btn-dark w-100 text-dark fs-1 fw-bolder border border-3 border-dark" @onclick = "(e) => StartTrainingSet(userTraining)">@userTraining.Name</button>
        </div>   
    </div>
}

@code{
    [Inject]
    public ITrainingService TrainingService {get; set;}

    public IEnumerable<TrainingSetDto>? UserTrainingsList {get; set;}
    
    protected override async Task OnInitializedAsync()
    {
        UserTrainingsList = await TrainingService.ListTrainingsAsync();
    }

    [Parameter]
    public EventCallback<TrainingSetDto> StartTrainingSetCallback {get; set;}
    private async Task StartTrainingSet(TrainingSetDto trainingDto)
    {
        //TODO - add null handling
        await StartTrainingSetCallback.InvokeAsync(trainingDto);
    }

    [Parameter]
    public EventCallback AddNewTrainingSetCallback { get; set; }
    private async Task AddNewTraining()
    {
        await AddNewTrainingSetCallback.InvokeAsync();
    }
}    
