@page "/Summary"
<div class="row mb-4 mx-3 justify-content-center align-items-center">
    <div class="col text-center">
        <h1 class="text-dark fw-bolder">Great job!</h1>
    </div>
    <div class="col">
        <button type="button" class="btn btn-dark text-dark fs-5 fw-bolder border border-3 border-dark">Close summary</button>
    </div>
</div>

<div class="row mb-4 mx-3 justify-content-center">
    <div class="col text-center border border-3 border-dark rounded-5">
        <div class="row align-items-center my-2">
            <h2 class="text-dark fw-bolder">Squat with Weight</h2>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-6">
                <p class="text-dark text-start fs-3">Weight:</p>
            </div>
            <div class="col-3">
                <p class="text-dark fw-bolder fs-3">47kg</p>
            </div>
            <div class="col-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                </svg>
                <p class="text-success fw-bolder fs-4">3kg</p>
            </div>
        </div>

         <div class="row align-items-center my-2">
            <div class="col-6">
                <p class="text-dark text-start fs-3">Repetitions:</p>
            </div>
            <div class="col-3">
                <p class="text-dark fw-bolder fs-3">10</p>
            </div>
            <div class="col-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                </svg>
                <p class="text-success fw-bolder fs-4">2</p>
            </div>
        </div>
        
    </div>
</div>