@page "/TrainingList"
@rendermode InteractiveAuto


<div class="row mb-4 justify-content-center">
    <div class="col-sm-7">
        <h1 class="text-dark text-center">Choose your training!</h1>
    </div>
</div>

<div class="row mb-4 mx-3 justify-content-center">
    <div class="col-sm-7 ">
        <button type="button" class="btn btn-warning w-100 text-dark fs-1 fw-bolder border border-3 border-warning">Add new training!</button>
    </div>   
</div>

<div class="row mb-4 mx-3 justify-content-center">
    <div class="col-sm-7 ">
        <button type="button" class="btn btn-dark w-100 text-dark fs-1 fw-bolder border border-3 border-dark">Morning Yoga</button>
    </div>   
</div>

<div class="row mb-4 mx-3 justify-content-center">
    <div class="col-sm-7">
        <button type="button" class="btn btn-dark w-100 text-dark fs-1 fw-bolder border border-3 border-dark">Leg Day</button>
    </div>   
</div>

<div class="row mb-4 mx-3 justify-content-center">
    <div class="col-sm-7">
        <button type="button" class="btn btn-dark w-100 text-dark fs-1 fw-bolder border border-3 border-dark">Chest Day</button>
    </div>   
</div>
